html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


/* -- Base container layout -- */

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    background-color: wheat;
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "search options"
        "welcome buttons";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.main{
    background-color: red;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
    gap: 15px;
}

.sidebar{
    background-color: blue;
    grid-area: sidebar;
}


/* -- Main container layout -- */

.projects{
    background-color: aqua;
    grid-area: projects;
    display: grid;
    grid-template-areas: 
        "title title"
        "project project"
        "project project"
        "project project";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
}

.announcements{
    background-color: blueviolet;
    grid-area: announcements;
}

.trending{
    background-color: brown;
    grid-area: trending;
}


/* -- Header container layout -- */

.search-bar{
    grid-area: search;
}

.profile-options{
    grid-area: options;
}

.welcome-message{
    grid-area: welcome;
}

.user-options{
    grid-area: buttons;
}


/* -- Sidebar container layout -- */




/* -- Projects container layout -- */

.projects h1{
    grid-area: title;
    background-color: white;
}